.img44_icon{ background:url("img44_icon.png") top left no-repeat; }
.img_icon_r2_c1{ width:60px; height:52px; background-position:-10px -10px; }
.img_icon_r4_c3{ width:50px; height:46px; background-position:-10px -72px; }

