.w {
    width: 1120px;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: 60px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 0;
    z-index: 101;
}

.banner .logo {
    float: left;
    width: 175px;
    height: 60px;
}

.banner .logo a {
    display: inline-block;
    width: 132px;
    height: 24px;
    background: url(../imgzy/logo.png) no-repeat center;
    text-indent: -20000px;
    margin: 18px 0 0 4px;
}

.banner .nav {
    position: relative;
}

.banner .nav .cloud {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 88px;
    height: 60px;
    background: url(../imgzy/cloud.gif) no-repeat;
}

.banner .nav ul {
    position: relative;
}

.banner .nav li {
    float: left;
    width: 88px;
    height: 60px;
    font: 16px/60px "Microsoft Yahei";
}

.banner .register a {
    font: 14px/60px "Microsoft Yahei";
    margin-left: 13px;
}

.bg {
    width: 100%;
    height: 500px;
    margin-top: 60px;
    position: relative;
    z-index: 100;
}

.content {
    height: 944px;
    background-color: #F7F7F7;
    overflow: hidden;
}

.content .shop {
    width: 1120px;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.content .shop ul {
    width: 1120px;
    height: 90px;
    border-left: 1px solid #E2E5E7;
    border-top: 1px solid #E2E5E7;
}

.content .shop ul li {
    width: 224px;
    height: 90px;
    float: left;
    border-right: 1px solid #E2E5E7;
    border-bottom: 1px solid #E2E5E7;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    text-align: center;
}

.content .shop ul li a {
    display: block;
}

.content .shop ul li .left,.content .shop ul li .right {
    /*width: 112px;*/
    height: 2px;
    position: absolute;
    background: #18B174;
    bottom: -1px;
}

.content .shop ul li .left {
    left: 111px;
}

.content .shop ul li .right {
    right: 111px;
}

.content .shop .bg1,.content .shop .bgc1 {
    display: inline-block;
    width: 39px;
    height: 38px;
    background: url(../imgzy/jlt.png) no-repeat -6px -6px;
    margin-top: 15px;
}

.content .shop .bgc1 {
    background: url(../imgzy/jlt.png) no-repeat -6px -56px;
}

.content .shop .bg2,.content .shop .bgc2 {
    display: inline-block;
    width: 39px;
    height: 40px;
    background: url(../imgzy/jlt.png) no-repeat -6px -105px;
    margin-top: 15px;
}

.content .shop .bgc2 {
    background: url(../imgzy/jlt.png) no-repeat -6px -155px;
}

.content .shop .bg3,.content .shop .bgc3 {
    display: inline-block;
    width: 39px;
    height: 40px;
    background: url(../imgzy/jlt.png) no-repeat -6px -205px;
    margin-top: 15px;
}

.content .shop .bgc3 {
    background: url(../imgzy/jlt.png) no-repeat -6px -255px;
}

.content .shop .bg4,.content .shop .bgc4 {
    display: inline-block;
    width: 49px;
    height: 41px;
    background: url(../imgzy/jlt.png) no-repeat 0px -305px;
    margin-top: 15px;
}

.content .shop .bgc4 {
    background: url(../imgzy/jlt.png) no-repeat 0px -355px;
}

.content .shop .bg5,.content .shop .bgc5 {
    display: inline-block;
    width: 49px;
    height: 38px;
    background: url(../imgzy/jlt.png) no-repeat 0px -405px;
    margin-top: 15px;
}

.content .shop .bgc5 {
    background: url(../imgzy/jlt.png) no-repeat 0px -455px;
}

.content .shop li i {
    display: block;
    font-style: normal;
    color: rgb(161, 164, 168);
    font-size: 16px;
    font-family: "Microsoft Yahei";
}

.content .main {
    height: 630px;
}

.content .main .pic1 {
    width: 610px;
    height: 310px;
    float: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.content .main .pic2 {
    width: 500px;
    height: 310px;
    float: right;
    margin-bottom: 10px;
    overflow: hidden;
}

.content .main .pic3 {
    width: 500px;
    height: 310px;
    float: left;
    overflow: hidden;
}

.content .main .pic4 {
    width: 610px;
    height: 310px;
    float: right;
    overflow: hidden;
}

.foot {
    height: 298px;
    background-color: #131313;
}

.foot .column {
    margin-left: 40px;
}

.foot dl {
    width: 164px;
    height: 124px;
    float: left;
    margin-top: 65px;
}

.foot dt {
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: "Microsoft Yahei";
}

.foot dd {
    height: 28px;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    margin-left: 4px;
}

.foot .menu {
    width: 520px;
    height: 178px;
    float: right;
}

.foot .menu .service {
    width: 230px;
    height: 178px;
    float: left;
}

.foot .menu .service .help {
    width: 110px;
    height: 30px;
    background-color: #18B174;
    border-radius: 4px;
    cursor: pointer;
    margin: 80px 0 23px 54px;
    text-align: center;
    line-height: 30px;
}

.foot .menu .service .help span {
    font-size: 14px;
    color: #fff;
    font-family: "Microsoft Yahei";
}

.foot .menu .service p {
    font-size: 14px;
    font-family: "Microsoft Yahei";
    height: 29px;
}

.foot .menu .service p span {
    font-size: 16px;
}

.foot .menu .off_wb {
    width: 100px;
    height: 124px;
    float: left;
    margin: 54px 34px 0 0;
}

.foot .menu .off_wb .wbo {
    width: 92px;
    height: 92px;
    background-color: #fff;
    padding: 4px;
    border-radius: 4px;
}

.foot .menu .off_wb p {
    color: #fff;
    text-align: center;
    padding-top: 5px;
}

